.Container {
	display: flex;
	justify-content: space-between;
	background-color: rgb(50, 50, 50);
	margin-bottom: 20px;
}

.Title,
.ContainerElements li {
	color: white;
	list-style-type: none;
	margin: 0 10px;
}

.ContainerElements,
.Title {
	display: flex;
	margin: 20px;
}
