.RecipieCard{
	border: 1px black solid;
	width:31%;
	background-color: white;
}

.RecipeImg{
	width: 100%;
	height:50%;
}

.RecipieContent{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height:50%;
	padding: 10px;
	padding-left: 20px;
	box-sizing: border-box;
}

h2{
	margin-top: 0;
	margin-bottom: 0px;
}
h4{
	margin-top: 0;
	margin-bottom: 5px;
}
.RecipieContent ul, .RecipieContent p{
	margin-top: 0;
	margin-bottom: 0px;
}